.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em;
  height: clamp(200px, 35vh, 40vh);
  width: 100vw;
  background-image: url(../../../public/images/bg-mobile-dark.jpg);
  background-size: cover;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.4em;
}
