.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 50vh;
}

.dnd-text,
.info-text {
	margin: auto 0;
	text-align: center;
	color: hsl(234, 11%, 52%);
}

.info-text {
	font-size: 1.3rem;
}
