.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.1em 0.9em;
	width: 100%;
	max-width: 576px;
	font-size: 1rem;
	background-color: hsl(235, 24%, 19%);
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	-webkit-box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
	box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
}

.items-left {
	color: hsl(234, 11%, 52%);
}

.filter-buttons-container {
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	padding: 0.6em 4em;
	width: 100%;
	max-width: 576px;
	background-color: hsl(235, 24%, 19%);
	border-radius: 8px;
	-webkit-box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
	-moz-box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
	box-shadow: 10px 33px 53px -16px rgba(0, 0, 0, 1);
}

.filter-button {
	padding: 0.4em 0.2em;
	font-size: 1rem;
	background: none;
	outline: none;
	border: none;
	color: hsl(234, 11%, 52%);
	transition: color 0.3s;
	cursor: pointer;

	&:hover,
	&:focus {
		color: hsl(234, 39%, 85%);
	}
}

.active {
	color: hsl(220, 98%, 61%);
}

@media (min-width: 576px) {
	.filter-buttons-container {
		margin: 0;
		padding: 0;
		width: 175px;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
}
