.inputs-container {
  display: flex;
  align-items: center;
  padding: 0.8em 1.5em;
  background-color: hsl(235, 24%, 19%);
  border-radius: 10px;
}

.label {
  margin-right: 1em;
  aspect-ratio: 1/1;
  height: 1.6em;
  background-color: hsl(235, 24%, 19%);
  border: 0.15em solid hsl(233, 14%, 35%);
  border-radius: 50%;
  cursor: pointer;
}

.input {
  padding: 0.2em 0.4em;
  height: 3em;
  width: 100%;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: hsl(234, 11%, 52%);
  background-color: hsl(235, 24%, 19%);
  border: solid 1px transparent;
  border-radius: 8px;
  transition: color 0.3s;
  cursor: pointer;
}

.input:hover,
.input:active,
.input:focus {
  color: hsl(236, 33%, 92%);
}

.input:active,
.input:focus {
  outline: none;
}
