.ul {
	background-color: hsl(235, 24%, 19%);
	width: 100%;
	max-width: 576px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}

@media (min-height: 768px) {
	.ul {
		margin-top: -1.5em;
	}
}
